# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js Build Output
/.next/
/out/
/build

# Environment Variables
.env*.local
.env
!.env.example

# Vercel Deployment Cache
.vercel

# Debug & OS files
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
